<h1>Lista de Usuários</h1>

<div class="row justify-content-end">
  <a href="/users/new" class="btn btn-primary">Novo Usuário</a>
</div>

<div class="row">
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Administrador</th>
      </tr>
    </thead>
    <tbody>
      <%users.forEach((user, index) => {%>
        <tr>
          <th scope="row"><%=index + 1%></th>
          <td><%=user.name%></td>
          <td><%=user.email%></td>
          <td><%=user.isAdmin ? 'Sim' : 'Não'%></td>
          <td>
            <a href="/users/edit/<%=user._id%>" class="btn btn-success btn-sm">Editar</a>
          </td>
        </tr>
      <%})%>
    </tbody>
  </table>
</div>
