<%for(error of errors){ %>
  <div class="row justify-content-center">
    <div class="alert alert-danger"><%=error.text%></div>
  </div>
<%}%>

<form action="/users" method="POST" enctype="multipart/form-data">

  <input type="hidden" name="id" value="<%=user._id%>">

  <div class="row justify-content-center">
    <div class="form-group col-6">
      <%if(user.photo){%>
        <img src="/<%=user.photo%>" id="previewImg" alt="foto" width="100px" height="100px">
      <%}else{%>
        <img src="" id="previewImg">
      <%}%>
      <input type="file" class="form-control-file" name="photo" id="photo" class="btn">
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-6">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" name="name" value="<%=user.name%>" required>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="<%=user.email%>" required>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-6">
      <label for="password">Senha</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-6">
      <label for="passwordConfirmation">Confirmação de senha</label>
      <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation" required>
    </div>
  </div>

  <%if(current_user != null && current_user.isAdmin){%>
    <div class="row justify-content-center">
      <div class="form-group col-6">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="isAdmin" name="isAdmin" value="<%=user.isAdmin%>">
          <label class="form-check-label" for="isAdmin">Administrador?</label>
        </div>
      </div>
    </div>
  <% } %>

  <div class="row justify-content-center">
    <div class="form-group col-6">
      <button type="submit" class="btn btn-success"><%=user._id ? 'Editar' : 'Criar'%></button>
    </div>
  </div>

</form>

<script>
  const $photoInput = document.getElementById('photo')
  const reader = new FileReader()

  reader.onload = (e) => {
    const $previewImg = document.getElementById('previewImg')
    $previewImg.style.maxWidth = "100px"
    $previewImg.style.maxHeight = "100px"
    $previewImg.src = e.target.result
  }

  $photoInput.addEventListener('change', (event) => {
    const image = event.target.files[0]
    reader.readAsDataURL(image)
  })

</script>
