<%- contentFor('body') %>

<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao Blog do Node</h1>
  <p class="lead">Este é um blog simples, desenvolvido em Node, Express e Mongo.</p>
  <hr class="my-4">
  <p>Aqui você encontrará artigos de diversas tecnologias da área da programação.</p>
  <%if(!current_user){%>
    <a class="btn btn-primary btn-lg" href="/users/new">Crie uma conta!</a>
  <%}%>
</div>

<hr />

<% if(posts.length == 0){ %>
  <h4 class="mt-3">Nenhum post registrado!</h4>
<% }else{ %>
  <h2>Posts Recentes:</h2>

  <% for (post of posts){%>
    <div class="card mt-4">
      <div class="card-body">
        <h4><%=post.title%></h4>
        <p>Descrição: <%=post.description%></p>
        <a href="/post/<%=post._id%>" class="btn btn-success btn-sm">Leia mais...</a>
        <hr>
        <small>Categoria: <%=post.category.name%></small> <br />
        <small>Data de publicação <%=new Date(post.createdAt).toISOString().substr(0, 10).split('-').reverse().join('/') %></small>
      </div>
    </div>
  <% } %>

  <nav class="mt-4 align-center">
    <ul class="pagination">
      <% for (let i = 0; i < (total/4); i++){%>
        <li class="page-item"><a class="page-link" href="/?page=<%=i+1%>"><%=i+1%></a></li>
      <%}%>
    </ul>
  </nav>

<%}%>


